<!-- Flex Box bootstrap -->
<!-- Para testar o antigo modal:
* Iten div d-flex deve ser removido
* Remover atributo mr-auto da div com action="form-inline mr-auto" 
  Que ser para ocupar o lado direto todo
* Remover outra Divs indicadas.
-->

<div class="d-flex"> <!-- Para testar o antigo modal esse item deve ser removido! -->
  <div action="form-inline mr-auto"> 
    <!-- Conhecido como "Two-way Data Binding" o
        [(ngModel)] nao funciona dentro de form comum! 
        Para que ele funcione foi necessario importar o
        FormsModule dentro do arquivo "app.module.ts"      
    -->
    <!--filtro lista adicionado em "eventos.component.ts"  -->
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label> <input type="text" 
      class="form-control mr-2" 
      placeholder="buscar"
      [(ngModel)]="filtroLista">
      <!-- <button class="btn btn-outline-success">buscar</button>  -->
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="openModal(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Evento
    </button>
  </div>
</div>
<!-- Toda vez q se cria uma variavel dentro de uma imterpolacao
como no caso a baixo, é possivel usar no [(ngModel)]
-->
<h3>Filtro: {{filtroLista}}</h3> 
<table class="table table-striped">
  <thead class="thead-light">
    <!-- Se usar o "in" inves de "of" o evento vira um indice -->
    <!-- Se usar o "of" inves de "in" o evento vira um elemento dentro de eventos -->
    <tr>
      
      <th>
        <button class="btn btn-outline-primary" 
        (click)="alternarImagem()">
        <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        <!-- Para padronizar msg do botao -->
        <!-- {{mostrarImagem ? 'ocultar' : 'Mostrar'}}
          Imagem -->
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>      
    </tr>
  </thead>
  <!--mgIF ==> faz aparecer caso tenha elementos-->
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem"
        src="http://localhost:5000/img/{{evento.imagemURL}}"
        [style.width.px]="imagemLargura"
        [style.margin.px]="imagemMargem">
      </td>
      <!-- <td>{{evento.eventoId}}</td> -->
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <!-- Criado pipe em "src\app\_helps\DateTimeFormatPipe.pipe.ts"  para formatar datas-->
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td> 
      <td>{{evento.qtdPessoas}}</td>
      <!-- filtro com pipeline neste caso "uppercase" -->
      <!-- <td>{{evento.lote | uppercase}}</td> -->
      
      <!-- Feito depois do Observable -->
      <!-- <td>{{evento.lotes | json}}</td>  --> <!-- para ver o json!-->
      <td>
        <div *ngIf="!evento.lotes.length">
          Não Informado
        </div>
        <div *ngIf="evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}>
        </div>
      </td>
      <!-- --- -->
      <td>
        <div class="btn-group">
          <!--<button class="btn btn-sm btn-primary">-->
          <button class="btn btn-sm btn-success" 
          tooltip="Editar" (click)="openModal(template)"> 
              <i class="fa fa-edit"></i>
          </button> 
          <button class="btn btn-sm btn-danger" tooltip="Excluir">
              <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <!--mgIF ==> faz aparecer caso nao tenha elementos-->
  <!-- <tfoot *ngIf="eventos && !eventos.length"> -->  <!-- outra forma-->
  <tfoot *ngIf="!(eventos?.length > 0)">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento encontrado!
        </h4>
      </td>
    </tr>    
  </tfoot>
  
</table>

<!-- Modal novo -->
<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialo modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
          <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <!-- FORMS (react form) -->
          <!-- Nao esquece de referenciar o impot "ReactiveFormsModule" -->
          <!-- No arquivo "app.module.ts" -->
          <form [formGroup]="registerForm">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Tema</label>

                <!-- ngClass neste caso colocar o atributo csss "is-invalid" caso
                a expressao satisfaca -->
                <!-- [ngClass]="{cssClass: expression}" -->
                <input type="text" class="form-control" 
                [ngClass]="{'is-invalid': registerForm.get('tema').errors && registerForm.get('tema').touched}"
                formControlName="tema" placeholder="Insira o Tema">
                <div *ngIf="registerForm.get('tema').hasError('required') 
                && registerForm.get('tema').touched" class="invalid-feedback">
                  Tema é obrigatório
                </div>
                <div *ngIf="registerForm.get('tema').hasError('minlength')
                && registerForm.get('tema').touched" class="invalid-feedback">
                  Tema deve ter no mínimo 4 Caracteres.
                </div>
                <div *ngIf="registerForm.get('tema').hasError('maxlength')
                && registerForm.get('tema').touched" class="invalid-feedback">
                  Tema deve ter no máximo 50 Caracteres.
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                <label>Local</label>
                <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('local').errors
                  && registerForm.get('local').touched}"
                formControlName="local" placeholder="">
                <div *ngIf="registerForm.get('local').hasError('required') 
                && registerForm.get('local').touched"
                class="invalid-feedback">
                  Local é obrigatório
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Data e Hora</label>


                <!-- Importar o css em "styless.css" -->
                <!-- (input type="date") nao usar Date !! O componete do bsDatepicker usar text  -->
                <input type="text" class="form-control" 
                bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:mm a' }"
                [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors
                  && registerForm.get('dataEvento').touched}"
                formControlName="dataEvento" placeholder="">
                <div *ngIf="registerForm.get('dataEvento').hasError('required') 
                  && registerForm.get('dataEvento').touched"
                class="invalid-feedback">
                  Data e Hora tema é obrigatório
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Qtd Pessoas</label>
                <input type="text" 
                [ngClass]="{'is-invalid': registerForm.get('qtdPessoas').errors
                  && registerForm.get('qtdPessoas').touched}"
                class="form-control is-invalid" formControlName="qtdPessoas" placeholder="">
                <div *ngIf="registerForm.get('qtdPessoas').hasError('required') 
                && registerForm.get('qtdPessoas').touched"
                class="invalid-feedback">
                  Qtd Pessoas é obrigatório
                </div>
                <div *ngIf="registerForm.get('qtdPessoas').hasError('max') 
                && registerForm.get('qtdPessoas').touched"
                class="invalid-feedback">
                  Qtd Pessoas deve ser menor que 120000.
                </div>
              </div>
              <div class="form-group col-md-9">
                <label>Imagem</label>
                <input type="text"  [ngClass]="{'is-invalid': registerForm.get('imagemURL').errors
                && registerForm.get('imagemURL').touched}"
                class="form-control is-invalid" formControlName="imagemURL" placeholder="">
                <div *ngIf="registerForm.get('imagemURL').hasError('required') 
                && registerForm.get('imagemURL').touched"
                class="invalid-feedback">
                  Imagem é obrigatório
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Telefone</label>
                <input type="text" class="form-control" 
                [ngClass]="{'is-invalid': registerForm.get('telefone').errors
                && registerForm.get('telefone').touched}"
                formControlName="telefone" placeholder="">
                <div *ngIf="registerForm.get('telefone').hasError('required') 
                && registerForm.get('telefone').touched"
                class="invalid-feedback">
                  Telefone é obrigatório
                </div>
              </div>
              <div class="form-group col-md-8">
                <label>Email</label>
                <input type="text" class="form-control" 
                [ngClass]="{'is-invalid': registerForm.get('email').errors
                && registerForm.get('email').touched}"
                formControlName="email" placeholder="">
                <div *ngIf="registerForm.get('email').hasError('required') 
                && registerForm.get('email').touched"
                class="invalid-feedback">
                  Email é obrigatório.
                </div>
                <div *ngIf="registerForm.get('email').hasError('email') 
                && registerForm.get('email').touched"
                class="invalid-feedback">
                  Deve ser um e-mail válido.
                </div>
              </div>
            </div>
          </form>




      </div>
      <div class="modal-footer d-flex">
        
        <button class="btn btn-secondary" (click)="template.hide()">
          fechar
        </button>
        <button class="btn btn-secondary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
          Salvar Alterações
        </button>

      </div>
      </div>

    </div>


</div>

<!-- Modal Antigo -->
<!-- dependente do antigo metodo de exibicao de modal "openModal" em "eventos.component.ts" -->
<!--modaralRef ==> criado em eventos.component.ts-->
<!-- 
  <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
     <button type="button"	class="close pull-right"
      aria-label="Close" (click)="modalRef.hide()"> 
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template> 
-->


<br>

<br>
<br>
<!-- Usado para testar o formulario! -->
<p>Form Value: {{registerForm.value | json}}</p>
<p>Form Status: {{registerForm.status | json}}</p>





<!-- Segundo exemplo -->
<!-- 
  <hr>
  
  <div *ngFor="let evento of eventos">
    Tema: {{evento.tema}}
    <br>
    Local: {{evento.local}}
    <br>
    <hr>
  </div>
-->

<!-- Primeiro exemplo-->
<!--{{eventos[0].Tema}} -->
